body,html,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.16rem; 
}
.over{
    .over-ul{
        border-top: 1px solid #ccc;
        width: 3.75rem;
        height: 0.635rem;
        z-index: 999;
        position: fixed;
        bottom:0;
        left: 0;
        display: flex;
        background-color: white;
        justify-content: space-evenly;
    }
    .over-ul-li1{
        text-align: center;
        .over-ul-li1-i{
            font-size: 0.3rem;
            margin-top: 0.05rem;
        }
    }
     .router-link-exact-active {
         color: red;
     }
}