body,html,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.Gwcar{
    .Gwcar-header{
        width: 3.75rem;
        height:0.42rem;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        border-bottom: 1px solid #ccc;
        .span1{
            display: inline-block;
            color: #d00000;
            line-height: 0.42rem;
            margin-left: 0.05rem;
        }
        .span2{
            display: inline-block;
            margin-left: 1.3rem;    
        }
    }
    .Gwcar-content{
        width: 3.75rem;
        height: 1.1rem;;
        margin-top: 0.42rem;
        // display: flex;
        .a{
            border-bottom: 1px solid black;
            display: flex;
        }
        .b{
            width: 0.41rem;
        }
            .inpu1{
                width: 0.17rem;
                height: 0.18rem;
                margin-top: 0.4rem;
                margin-left: 0.1rem;
            }
      
        .img1{
            width: 0.63rem;
            height: 0.8rem;
            margin-top: 0.15rem;
            
        }
        .box{
            margin-left: 0.15rem;
            display: flex;
            .box-one{
                margin-left: 0.15rem;
                .box-one-1{
                    margin-top: 0.15rem;
                }
                .box-one-2{
                    margin-top: 0.25rem;
                }
            }
        }
    }
}
